@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f8fdff;
    /* background-color: lightgray; */
    /* z-index: -20; */
  }
  h1 {
    font-size: clamp(24px, 3vw, 36px);
    font-weight: bold;
  }
  h3 {
    font-size: clamp(18px, 3vw, 20px);
    font-weight: medium;
  }
  title {
    font-size: clamp(18px, 3vw, 20px);
  }
  p {
    font-size: clamp(16px, 3vw, 18px);
    font-weight: medium;
  }
}

@layer components {
  .bannerImages {
    @apply bg-no-repeat bg-center bg-cover;
  }
  .backgroundImg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .news .group span {
    background: blue;
  }
  .news .group span:hover {
    background: blue;
  }
  .container {
    @apply 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] w-full;
  }
  .missionH h3 {
    @apply tracking-widest;
  }
  .menuHover {
    @apply px-2 py-1 font-medium  text-center w-[180px];
  }
  .menuHover:hover {
    @apply border-b-[2.5px] w-fit mx-auto border-red text-red;
    letter-spacing: 0.075em;
  }
  .menuActive {
    @apply border-b-[2.5px] w-fit mx-auto border-blue;
    letter-spacing: 0.075em;
  }
  .bluegra {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 10%,
      rgba(16, 15, 156, 1) 51%,
      rgba(255, 255, 255, 1) 90%
    );
  }

  .appBorder {
    @apply h-[clamp(180px,40vw,300px)];
  }

  .appBorder:nth-child(odd) {
    @apply border-r border-b border-blue;
  }
  .appBorder:nth-child(even) {
    @apply border-b border-blue;
  }
  .appBorder:nth-last-child(1) {
    @apply border-b-0;
  }
}

#demo-simple-select {
  display: flex;
  gap: 4px;
  /* justify-content: center; */
  /* width: 100px; */
  align-items: center;
  padding: 0;
  padding-right: 20px;
  /* border: none !important; */
}

.form p {
  display: none;
}

.a p {
  display: block;
}

/* 2xl */
@media (max-width: 1536px) {
  /* .location {
    @apply flex flex-col;
  } */
}

/* xl */
@media (max-width: 1280px) {
  .xl-col {
    @apply flex flex-col justify-center;
  }
}

/* lg */
@media (max-width: 1024px) {
  .lg-col {
    @apply flex flex-col justify-center;
  }
}

/* md */
@media (max-width: 768px) {
  .md-col {
    @apply flex flex-col justify-center;
  }
}

/* sm */
@media (max-width: 640px) {
}
