@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: clamp(24px, 3vw, 36px);
    font-weight: bold;
  }
  p {
    font-size: clamp(16px, 3vw, 18px);
  }
}

@layer components {
  .bannerImages {
    @apply bg-no-repeat bg-center bg-cover;
  }
}

#demo-simple-select {
  display: flex;
  gap: 4px;
  /* justify-content: center; */
  width: 56px;
  align-items: center;
  padding: 0px;
  /* border: none !important; */
}

#demo-simple-select p {
  display: none;
}
