@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f8fdff;
    /* z-index: -20; */
    /* background-color: lightgray; */
  }
  h1 {
    font-size: clamp(24px, 3vw, 36px);
    font-weight: bold;
  }
  h3 {
    font-size: clamp(18px, 3vw, 20px);
    font-weight: medium;
  }
  title {
    font-size: clamp(18px, 3vw, 20px);
  }
  p {
    font-size: clamp(16px, 3vw, 18px);
    font-weight: medium;
  }
  /* img {
    transition: opacity 4s ease-in-out;
  }

  img.hovered {
    opacity: 0;
  } */
}

@layer components {
  .bannerImages {
    @apply bg-no-repeat bg-center bg-cover;
  }
  .backgroundImg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .a .group span {
    background: blue;
  }
  .container {
    @apply 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] w-full;
  }
  .missionH h3 {
    @apply tracking-widest;
  }
  .menuHover {
    @apply px-2 py-1 font-medium  text-center w-[180px];
  }
  .menuHover:hover {
    @apply border-b-[2.5px] w-fit mx-auto border-red text-red;
    letter-spacing: 0.075em;
  }
}

#demo-simple-select {
  display: flex;
  gap: 4px;
  /* justify-content: center; */
  width: 56px;
  align-items: center;
  padding: 0px;
  /* border: none !important; */
}

#demo-simple-select p {
  display: none;
}

/* .relative {
  position: relative;
  width: 100%;
  height: 345px;
} */

/* .absolute {
  position: absolute;
  transition: opacity 1s ease-in-out;
} */
